.blog {
  padding: 12px 4px;
  background-color: #fff;
  position: relative;
}

img[src^="static/emoji/"],
img[src^="static/face/"] {
  width: 24px;
  height: 24px;
  margin: 0 1px;
}

.header {
  height: 20px;
  padding: 0 12px;
  line-height: 20px;
  .title {
    font-size: 14px;
  }
  .more {
    float: right;
    font-size: 12px;
    color: rgba(153, 153, 153, 1);
    cursor: pointer;
  }
}

.blog_area {
  display: flex;
  overflow-x: hidden;
  padding: 8px 0 8px 4px;
  transition: transform 0.3s;
  .blog_item {
    width: 286px;
    height: 182px;
    flex-shrink: 0;
    background: #fff;
    box-shadow: 0px 2px 8px 4px rgba(229, 232, 237, 0.6);
    border-radius: 3px;
    margin-right: 12px;
    position: relative;
    .blog_header_img_area {
      display: flex;
      align-items: center;
      padding: 12px 0 0 12px;
      .blog_header_img {
        height: 28px;
        width: 28px;
        overflow: hidden;
        border-radius: 50%;
        .avatarImg {
          width: 28px;
          height: 28px;
          line-height: 28px;
        }
        .wordAvatar {
          display: inline-block;
          width: 40px;
          height: 40px;
          background: #4ca4fe;
          color: #ffffff;
          text-align: center;
          font-size: 22px;
          line-height: 40px;
          border-radius: 20px;
        }
      }
      .blog_header_name {
        font-size: 12px;
        color: #4ca4fe;
        padding-left: 14px;
      }
    }
    .blog_content_area {
      padding: 8px 12px 0 12px;
      .info {
        word-break: break-all !important;
        font-size: 14px;
        height: 45px;
        color: #252c2f;
        margin-bottom: 5px;
        overflow: hidden;
        -webkit-user-select: initial;
        user-select: text;
        > img {
          width: 24px;
          height: 24px;
          margin: 0 1px;
        }
        > a {
          cursor: default;
          color: #4ca4fe;
          &:hover {
            text-decoration: none;
          }
          &.topicA {
            cursor: default;
            text-decoration: none;
          }
        }
        .emoji {
          font-size: 24px;
          display: inline-block;
          width: 24px;
          height: 24px;
          vertical-align: text-bottom;
          line-height: 24px;
          margin: 1px;
        }
      }
      .noLine {
        height: 102px !important;
      }
      .link-media .attach {
        margin-bottom: 6px;
        width: auto;
        padding: 0;
        position: relative;
        background: #f2f2f2;
        -webkit-user-select: none;
        *zoom: 1;
        &:after {
          content: "\200B";
          display: block;
          height: 0;
          clear: both;
        }
        > .cont {
          padding: 3px 6px 6px 10px;
          margin-left: 48px;
          font-size: 14px;
          color: #252c2f;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          overflow: hidden;
          height: 48px;
          box-sizing: border-box;
          > a {
            color: #4ca4fe;
          }
        }
        > .img {
          height: 48px;
          width: 48px;
          float: left;
          position: relative;
          text-align: center;
          i {
            border-radius: 0;
          }
          img {
            width: 100%;
            height: 100%;
          }
        }
        &.attach-file {
          height: 48px;
          cursor: default;
          > .cont {
            -webkit-line-clamp: 1;
            height: 32px;
          }
          .filedownload {
            position: relative;
            top: -6px;
            left: 12px;
            width: 16px;
            height: 12px;
          }
        }
        &.noexist {
          background: #dfdfdf;
        }
      }
    }
    .blog_footer {
      display: flex;
      margin-top: 5px;
      position: absolute;
      bottom: 3px;
      right: 0;
      div {
        display: flex;
        justify-content: center;
        margin-right: 12px;
      }
      img {
        width: 16px;
        height: 16px;
        margin-right: 4px;
      }
      span {
        font-size: 12px;
        color: #557bea;
      }
    }
  }
  .blog_left_arrow,
  .blog_right_arrow {
    position: absolute;
    top: 56%;
    transform: translateY(-50%);
    width: 36px;
    height: 36px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(31, 45, 61, 0.11);
    cursor: pointer;
    i {
      color: #fff;
    }
    &:hover {
      background-color: rgba(31, 45, 61, 0.23);
    }
  }
  .blog_left_arrow {
    left: 10px;
  }
  .blog_right_arrow {
    right: 10px;
  }
}

.link-photo {
  width: 100%;
  display: flex;
  overflow-x: scroll;
  > li {
    position: relative;
    height: 48px;
    width: 48px;
    margin: 2px;
    cursor: pointer;
    .load-pic,
    .error-pic,
    .error-bg {
      width: 100px;
      height: 100px;
    }
    .error-bg {
      background: gray;
    }
    .icon-play {
      position: absolute;
      top: 50%;
      left: 50%;
      margin-top: -9px;
      margin-left: -9px;
      width: 18px;
      height: 18px;
      color: #fff;
      z-index: 2;
      line-height: 1;
    }
    .noexist {
      width: 100%;
    }
  }
}

.clearfloat:after {
  content: "\200B"; /*unicode字符里零宽度空格*/
  display: block;
  height: 0;
  clear: both;
}

.error-info {
  height: 42px;
  line-height: 42px;
  text-align: center;
  box-sizing: border-box;
  background: #ffffff;
  img {
    width: 24px;
    vertical-align: text-bottom;
  }
  span {
    font-size: 12px;
    cursor: pointer;
  }
}

.icon-img {
  width: 100%;
  height: 100%;
  &.filedownload {
    // content: "";
    // display: block;
    width: 16px;
    height: 12px;
    // background-image: url("/static/icon/download.svg");
  }
}
// .icon-img.shareblog {
//   background: url("/static/icon/shareblog.png");
//   background-size: cover;
// }

// .icon-img.sharelink {
//   background: url("/static/icon/sharelink.png");
//   background-size: cover;
// }

// .icon-img.shareapp {
//   background: url("/static/icon/shareapp.png");
//   background-size: cover;
// }

// .icon-play {
//   background: url("/static/icon/play.png");
//   background-size: cover;
// }
